@page
@model playerProfiler

<br/>
<p>Name: @Model.logedInPLayer.firstName - @Model.logedInPLayer.lastName </p>
<p>
    Gender:
    @if (Model.logedInPLayer.gender == 0)
    {
        <a>Male</a>
    }
    else
    {
        <a>Female</a>
    }
</p>

<p>BirthDate: @Model.logedInPLayer.birthdayDate.ToString("d")</p>
<p>Rank: @Model.Rank</p>

<br/>

@foreach (var t in Model.Data)
{
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Sport</th>
            <th scope="col">Description</th>
            <th scope="col">TournamentSystem</th>
            <th scope="col">Location</th>
        </tr>
        </thead>
        <tbody>


        <tr>
            <th scope="row">@t.tournament.SportType</th>
            <td style="width: 25%;">@t.tournament.Description</td>
            <td>@t.tournament.TournamentSystem</td>
            <td>@t.tournament.Location</td>
        </tr>

        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
        <tr>

            <th scope="col">Player</th>
            <th scope="col">Result</th>
            <th scope="col">Oponent</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var fd in t.fightsData)
        {
            <tr>
                <td>@fd.playerFirstName @fd.playerLastName</td>
                <td>@fd.fightScore</td>
                <td>@fd.oponentFirstName @fd.oponentLastName</td>
            </tr>
        }

        </tbody>
    </table>
    <br>
    <br>
    <br>
}