@page
@using Entities
@model WebApp.Pages.SignUpForTournament
@{
}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Sport</th>
        <th scope="col">Gender</th>
        <th scope="col">Start At</th>
        <th scope="col">End At</th>
        <th scope="col">Players</th>
        <th scope="col">Location</th>
        <th scope="col">Description</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var t in Model.Tournaments)
    {
        if (t.isEnded() == false)
        {
            <tr>
                @if (t.Players.Contains(Model.logedInPLayer) == false)
                {
                    <th scope="row">
                        <form method="post" asp-page-handler="Join">
                            <button asp-page-handler="Join" type="submit" class="btn btn-primary" asp-route-TorID="@t.Tournamnet_id">Join</button>
                        </form>
                    </th>
                }
                else
                {
                    @if (t.isActive() == false)
                    {
                        <th scope="row">
                            <form method="post" asp-page-handler="UnJoin">
                                <button asp-page-handler="UnJoin" type="submit" class="btn btn-danger" asp-route-TorID="@t.Tournamnet_id">UnJoin</button>
                            </form>
                        </th>
                    }
                    else
                    {
                        <th scope="row">
                            <button type="submit" class="btn btn-secondary" asp-route-TorID="@t.Tournamnet_id">UnJoin is not Available</button>
                        </th>
                    }
                }
                <td>@t.SportType</td>
                @if (t.Gender == 0)
                {
                    <td>Male</td>
                }
                else
                {
                    <td>Female</td>
                }
                <td>@t.StartDate.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@t.EndDate.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@t.Players.Count / @t.MaxPlayers</td>
                <td>@t.Location</td>
                <td>@t.Description</td>

            </tr>
        }
    }
    </tbody>
</table>