@page
@model tSchedule

@{
}

<p>@Model.ErrMsg</p><br>
@if (Model.Tournament.isActive())
{
    <div class="float-end">
        <form method="post" asp-page-handler="Results">
            <button asp-page-handler="Results" type="submit" class="btn btn-primary" asp-route-TorID="@Model.Tournament.Tournamnet_id">IntermediateResults</button>
        </form>
    </div>
    <br>
}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Round-#</th>
        <th scope="col">Player1</th>
        <th scope="col"> </th>
        <th scope="col">Player2</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var r in Model.Rounds)
    {
        <tr>
            <th scope="row">@r.RoundNumber</th>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>

        <tr>
            @foreach (var f in r.Fights)
            {
                @if (f.isB == false)
                {
                    <td style="width: 15%;"> </td>
                    <td style="width: 20%;">@f.Player1.Player.firstName , @f.Player1.Player.lastName</td>
                    <td>vs</td>
                    <td >@f.Player2.Player.firstName , @f.Player2.Player.lastName</td>
                }
            }
        </tr>
    }
    </tbody>

</table>